# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
fish/.DS_Store
.DS_Store
species_lists/hakai/2021_blast-db/CO1.BOLD_genbank_combined.taxa_map.w_hakai_barcodes.sunday_lab.txt
species_lists/ncbi/2023_ncbi/20230819_ncbi_fish_12s_tinyseq.xml
ncbi-efetch-taxonomy-log.txt
trim-log.txt
trimlist-log.txt
update-ncbi-search_log.txt
ncbi-outgroups-short-log.txt
ncbi-fish-short-log.txt
mitofish-filterfastalist-log.txt
mitofish-extract-accns-log.txt
mitofish-extract-accns-log copy.txt
mitofish-efetch-taxonomy-log.txt
database12s/crabs/20240311_fish_worms_records.RDS
database12s/crabs/20240311_worms_result.RDS
database12s/crabs/20240212_12s_fish-ncbi-filter.fasta
database12s/crabs/20240212_12s_ncbi-outgroups_toolong.txt
database12s/crabs/20240223_12s_crabs-merge.fasta
database12s/crabs/20240223_fish-short_crabs-ready.fasta
database12s/crabs/20240212_12s_outgroups-ncbi-filter2.fasta
database12s/crabs/20240223_outgroups-short_crabs-ready.fasta
database12s/crabs/20240226_mitofish_12s-filter.fasta
database12s/crabs/20240226_mitofish_ncbi-taxonomy.csv
database12s/crabs/20240226_mitofish_by-gene.csv
database12s/crabs/mito-all
database12s/crabs/names.dmp
*.accession2taxid
species_lists/ncbi/2023_ncbi/20230917_12s_ncbi-taxonomy.csv
LICENSE
database12s/crabs/nodes.dmp
database12s/crabs/mitofishdb.fasta
database12s/referencefiles/to-sort/ch1/20230905_12s_crabs-merge.fasta
database12s/referencefiles/to-sort/ch1/20230905_12s_crabs.fasta
database12s/referencefiles/to-sort/ch1/20230905_12s_crabs.fasta-align.fst
database12s/referencefiles/to-sort/ch1/20230905_12s_ncbi-outgroups_crabs-ready.fasta
crabsdb-extractfasta_log.txt
database12s/referencefiles/existing_outgroups/20240212_12s_ncbi-outgroups_toolong.fasta.txt
database12s/referencefiles/existing_mitofish/20240226_mitofish_ncbi-taxonomy.csv
database12s/referencefiles/20241006_outgroup-toolong-test.csv
database12s/crabs/20241010_pcrout.fasta
database12s/crabs/20240212_12s_ncbi-fish_toolong.txt
database12s/crabs/20241006_12s_ncbi-outgroups_toolong.txt
database12s/crabs/20241006_12s_outgroups-ncbi-filter2.fasta
database12s/crabs/20241010_12s_crabs-merge.fasta
database12s/crabs/20241010_12s_fish-ncbi-filter.fasta
database12s/crabs/20241010_12s_ncbi-fish_toolong.txt
database12s/crabs/20241010_mitofish_12s-filter.fasta
database12s/crabs/20241010_mitofish_by-gene.csv
database12s/crabs/20241010_mitofish_ncbi-taxonomy.csv
database12s/crabs/20241015_12s_crabs-merge.txt
database12s/crabs/20241015_crabs-format_mitofish.txt
database12s/crabs/20241015_crabs3_pcrout.txt
database12s/crabs/20241015_crabs_format_ncbi-12sfish.txt
database12s/crabs/20241015_crabs_format_ncbi-12soutgroups-new.txt
database12s/crabs/20241015_crabs_format_ncbi-12soutgroups-past.txt
database12s/crabs/inputtesting.txt
database12s/crabs/mitofishdb_2024oct.fasta
database12s/ncbitaxonomy/names.dmp
database12s/ncbitaxonomy/nodes.dmp
database12s/temp/mito-all
database12s/temp/names.dmp
database12s/temp/nodes.dmp
database12s/temp/mitofishdb.fasta
database12s/referencefiles/existing_outgroups/20240212_12s_outgroups-ncbi-filter2.fasta
species_lists/ncbi/2023_ncbi/20230917_12s_ncbi-taxonomy.csv
coi-efetch-taxonomy-log.txt
crabsdb-extractfasta_log.txt
crabsdb-extractfasta_log.txt
database12s/crabs/20241010_fish_worms_records.RDS
